In [33]:

import warnings
warnings.filterwarnings("ignore") # to avoid warnings
import pandas as pd # to insert data set and create dataframe
import numpy as np # for maths operations like mean
df = pd.read_csv('hiring.csv') # assigning data set to df
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [34]:
print(df.shape) # check how many rows and columns in it

(8, 4)

In [35]:
print(df.isna().sum()) # count of null values in each column

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [36]:
df.describe() # checking the statistics of the table

       test_score(out of 10)  interview_score(out of 10)    salary($)
count               7.000000                    8.000000      8.00000
mean                7.857143                    7.875000  63000.00000
std                 1.345185                    1.642081  11501.55269
min                 6.000000                    6.000000  45000.00000
25%                 7.000000                    6.750000  57500.00000
50%                 8.000000                    7.500000  63500.00000
75%                 8.500000                    9.250000  70500.00000
max                10.000000                   10.000000  80000.00000

In [37]:
df['experience'] = df['experience'].fillna('zero')  # replacing zero in null values in the experience column
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [38]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\azhar\appdata\local\programs\python\python312\lib\site-packages (23.3.2)Note: you may need to restart the kernel to use updated packages.

In [39]:
!pip install word2number  # converting word to number we need to install this package

Requirement already satisfied: word2number in c:\users\azhar\appdata\local\programs\python\python312\lib\site-packages (1.1)

In [40]:
from word2number import w2n # importing w2n from word2number

In [41]:
df['experience'] = df['experience'].apply(w2n.word_to_num) #converting words to numbers
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [46]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean()) #filling null by mean

In [47]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [49]:
print(df.corr().to_string()) # checking correlation

                            experience  test_score(out of 10)  interview_score(out of 10)  salary($)
experience                    1.000000              -0.241897                    -0.29048   0.908017
test_score(out of 10)        -0.241897               1.000000                     0.13971  -0.002850
interview_score(out of 10)   -0.290480               0.139710                     1.00000   0.037820
salary($)                     0.908017              -0.002850                     0.03782   1.000000

In [52]:
x = df.drop(columns = ['salary($)']) #input columns
x

   experience  test_score(out of 10)  interview_score(out of 10)
0           0               8.000000                           9
1           0               8.000000                           6
2           5               6.000000                           7
3           2              10.000000                          10
4           7               9.000000                           6
5           3               7.000000                          10
6          10               7.857143                           7
7          11               7.000000                           8

In [56]:
y = df['salary($)'] #output columns
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: salary($), dtype: int64

In [58]:
from sklearn.linear_model import LinearRegression #linear regression import

In [59]:
model = LinearRegression() #model training by fit()
model.fit(x,y)

LinearRegression()

In [60]:
ans =model.predict([[5,6,7],[7,9,6]]) #sample input and ans
print(ans)

[58231.95591138 67429.06277517]